<h1><%= @activity.name %></h1>

<%= button_to "delete this activity", activity_path, method: :delete %> <%= button_to "edit this activity", edit_activity_path, method: :get %>
<h3> this location's activities: </h3>